*{
    /* border: 1px solid brown; */
}

body{
    font-family: serif;
    font-size: x-large;
    background-color: goldenrod;
}

h1, h2, h3{
    text-align: center;
    font-family: monospace;
    text-transform: capitalize;
}

.search-bar{
    display: flex;
    justify-content: flex-end;

}

    .search-bar > button{
        margin-left: 3px;
    }


.main-container{
    padding-bottom: 50px;
}

    .main-container h2{
        text-decoration: underline;
    }

    .main-container img{
        height: 200px;
        padding-left: 5%;
    }

    #move-list{
        text-transform: capitalize;
        margin-top: 0;
    }

    #full-move-list{
        display: none;
        font-size: small;
    }

    #full-move-list li{
        display: inline;
    }

    #main-flex{
        display: none;
        background-color: rgba(0, 0, 0, 0.5);
        color: rgba(255, 255, 255, 0.8);
        font-size: large;
        border-radius: 8px;
        margin: 0 5%;
        overflow: scroll;
    }


.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col{
    display: flex;
    flex-direction: column;
}


#views-container{
    display: none;
    padding-bottom: 150px;
}

#icon{
    height: 100px;
    position: fixed;
    bottom: 8px;
    right: 8px;
    opacity: 0.8;
}